<% if image %> 
  <a class="zoom" href="<%= image.attachment.url(:large)-%>" title="<%= @product.name %>">
    <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
  </a>
<% else %>
  <% if(@product.images.empty?) %>
    <%= product_image(@product, :itemprop => "image") %>
  <% else %>
    <a class="zoom" href="<%= @product.images.first.attachment.url(:large)-%>" title="<%= @product.name %>" >
      <%= product_image(@product, :itemprop => "image") %>
    </a>
  <% end %>
<% end %>


<script type="text/javascript"> 
  
  <!-- cursor -->
  jQuery(function($){ 
    $('a.zoom').easyZoom({
        css: {'position':'absolute','top':'20','left':'700'}
      });
  });
</script>